@model WebApp.Controllers.CommonController.WFDetail_Model
@{
    ViewBag.Title = "JxdwConfirm";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-8">
            <!-- The time line -->
            <ul class="timeline">
               <!-- 工作流当前任务-Star -->
                    <!-- timeline item -->
                     <li class="time-label">
                        <span class="bg-green">
                           业务流水号：<button class="btn btn-default"  onclick="DispalsySide('@ViewBag.WF_Ser')">@ViewBag.WF_Ser</button>
                        </span>
                    </li>
                    <li class="time-label">
                        <span class="bg-green">
                           相关管理文件：
                        </span>
                    </li>
                    <li>
                       <i class="fa fa-camera bg-purple"></i>
                         <div class="timeline-item">
                         <div class="timeline-body">
                            <div class="box box-primary">
                                <div class="box-body">                                   
                                    <div class="row" style="margin-bottom:15px;">
                                        <label class=" control-label"><a href='\A3.3FileArch\管理制度\各专业制度\动设备\设备特护管理制度.pdf' target=_blank> QG/WHF JD-41-2013-设备特护管理制度</a></label>
                                        </div>
                                    <div class="row" style="margin-bottom:15px;">
                                        <label class=" control-label"><a href='\A3.3FileArch\管理制度\各专业制度\动设备\大机组特护管理制度及实施细则.pdf' target=_blank> QG/WHF JD-20-2011-大机组特护管理制度及实施细则</a></label>
                                     </div>

                                </div>
                             </div>                                                                                                                
                            </div> 
                         </div> 
                    </li>

                    <li class="time-label">
                        <span class="bg-green">
                           当前任务：检维修单位确认
                        </span>
                    </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-camera bg-purple"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o">@ViewBag.curtime</i>当前用户：@ViewBag.curuser</span>
                        <h3 class="timeline-header"><span class="lead" style="color:red">检维修单位确认</span></h3>
                        <div class="timeline-body">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <input type="text" id="wef_id" hidden="hidden" value="@ViewBag.WF_NAME">
                                    <input type="text" id="wef_ser" hidden="hidden" value="@ViewBag.WF_Ser">
                                      <div class="row" style="margin-bottom:15px;">
                                        <label class="col-sm-2 control-label">设备编号</label>
                                        <div class="col-sm-10">
                                            <label id="equip_code" class="form-control" >@ViewBag.currentMiss.Miss_Params["Equip_Code"].ToString()</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:15px;">
                                        <label class="col-sm-2 control-label">设备工艺编号</label>
                                        <div class="col-sm-10">
                                            <label id="equip_gycode" class="form-control" >@ViewBag.currentMiss.Miss_Params["Equip_GyCode"].ToString()</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:15px;">
                                        <label class="col-sm-2 control-label">特护记录</label>
                                        <div class="col-sm-10">
                                            <table id="thjl_datatable" width="100%" cellspacing="1">
                                                <thead>
                                                    <tr>
                                                        <th>项目</th>
                                                        <th>设计值</th>
                                                        <th>实测值</th>
                                                        <th>趋势图</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:15px;">
                                        <label class="col-sm-2 control-label">工作要点记载</label>
                                        <div class="col-sm-10">
                                            <textarea id="text_detail" class="form-control" rows="3" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:15px;">
                                        <label class="col-sm-2 control-label">设备问题记载</label>
                                        <div class="col-sm-10">
                                            <table id="thj1_problem" width="100%" cellpadding="1" style="min-height:100px">
                                                <thead>
                                                    <tr>
                                                        <th width="25%">问题分类</th>
                                                        <th >问题描述</th>
                                                    </tr>
                                                </thead>                                                
                                            </table>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <label class="col-sm-2 control-label">检维修单位确认</label>
                                        <div class="col-sm-6">
                                            <table class="table table-bordered text-center">

                                                <tbody>

                                                    <tr>
                                                        <th width="25%">动专业</th>
                                                        <th>
                                                            @if (Convert.ToBoolean(@ViewBag.currentMiss.Miss_Params["DongZyConfirm_done"]) == true)
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>已确认：@ViewBag.currentMiss.Miss_Params["DongZyMan"].ToString()</button>
                                                            }
                                                            else
                                                            {
                                                                if ((@ViewBag.user_specis as string).Split(',').Contains("动"))
                                                                {
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" onclick="submit_click(0)">确认</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-block btn-warning col-md-3" disabled>未确认</button>
                                                                }
                                                            }
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th width="25%">电专业</th>
                                                        <th>
                                                            @if (Convert.ToBoolean(@ViewBag.currentMiss.Miss_Params["DianZyConfirm_done"]) == true)
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>已确认：@ViewBag.currentMiss.Miss_Params["DianZyMan"].ToString()</button>
                                                            }
                                                            else
                                                            {
                                                                if ((@ViewBag.user_specis as string).Split(',').Contains("电"))
                                                                {
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" onclick="submit_click(1)">确认</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-block btn-warning col-md-3" disabled>未确认</button>
                                                                }
                                                            }
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th width="25%">仪专业</th>
                                                        <th>
                                                            @if (Convert.ToBoolean(@ViewBag.currentMiss.Miss_Params["YiZyConfirm_done"]) == true)
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>已确认：@ViewBag.currentMiss.Miss_Params["YiZyMan"].ToString()</button>
                                                            }
                                                            else
                                                            {
                                                                if ((@ViewBag.user_specis as string).Split(',').Contains("仪"))
                                                                {
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" onclick="submit_click(2)">确认</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-block btn-warning col-md-3" disabled>未确认</button>
                                                                }
                                                            }
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                   
                                </div>
                                                                                                                
                            </div>        

                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <!-- 工作流当前任务-End -->

                 <!-- 工作流历史操作-通用部分Star -->
                   <li class="time-label">
                            <span class="bg-green">
                               当前工作流历史操作
                            </span>
                        </li>
                     <!-- timeline time label -->  
                    @for (int i = @Model.ALLHistoryMiss.Count()-1; i >=1 ; i--)
                    {     <li class="time-label">
                              <a class="btn btn-primary" role="button" data-toggle="collapse" href="#@i" aria-expanded=true aria-controls="@i">
                                  @Model.MissTime[i] - @Model.ALLHistoryMiss[i].WE_Event_Desc
                              </a>
                           </li>
                    
                          <li class="collapse" id="@i">
                            <i class="fa fa-camera bg-purple"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o">@Model.MissTime[i]</i>操作用户： @Model.MissUser[i]</span>
                                <h3 class="timeline-header lead"><span class="lead" style="color:red">@Model.ALLHistoryMiss[i].WE_Event_Desc</span></h3>
                                <div class="timeline-body">
                                    <table class="table  table-hover table-bordered">
                                        <tbody>
                                            @foreach (var pp in @Model.ALLHistoryMiss[i].Miss_ParamsAppRes)
                                            {
                                                if(pp.Value.ToString()!="App_hidden")
                                                {
                                                    <tr class="info">
                                                        <th>@Model.ALLHistoryMiss[i].Miss_ParamsDesc[pp.Key]</th>
                                                       @if ((@Model.ALLHistoryMiss[i].Miss_ParamsDesc[pp.Key].ToString()).IndexOf("附件") > -1 && @Model.ALLHistoryMiss[i].Miss_Params[pp.Key]!="")
                                                       {
                                                           string[] savedFileName = (@Model.ALLHistoryMiss[i].Miss_Params[pp.Key].ToString()).Split(new char[] { '$' });
                                                           string saveExistFilename = Path.Combine("/Upload", savedFileName[1]);
                                                           <td><a href=@saveExistFilename target=_blank> @savedFileName[0]</a></td> }
                                                       else
                                                        {<td>@Model.ALLHistoryMiss[i].Miss_Params[pp.Key]</td>}
                                                    </tr>
                                                 }
                                            }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </li>
                }
                     
                <!-- END timeline item -->

                  <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                    </li> 
            <!-- 工作流历史操作-通用部分End -->
            </ul>
        </div>
        <!-- /.col -->
         <div class="col-md-4" id="sidebar"> </div>
    </div>
    <!-- /.row -->
 
</section>

<div class="modal fade" id="qst" tabindex="-1" role="dialog"
     aria-labelledby="qst_title" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;height:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="qst_title">
                    趋势图
                </h4>
            </div>
            <div class="modal-body" id="qst_graphic" style="width:700px;height:50%">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--参数显示模态框开始处-->
<div class="modal fade" id="ParamModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">相关参数显示</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="ParamDiv">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>

            </div>
        </div>

    </div>

</div>
<!--参数显示模态框结束处--> 
    <!--设备信息显示模态框开始处-->
    <div class="modal fade" id="EquipInfoModal">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">设备相关信息</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body" id="EquipInfoDiv">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                </div>
            </div>

        </div>

    </div><!--设备信息显示模态框结束处--> 

@section js{
    <script src="~/Scripts/jquery.form.js"></script>   <script src="~/Scripts/myFormValidator.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Plugins/jquery.dataTables.min.css" />
    <link href="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet" />
<script src="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<script src="~/Scripts/myWorkFlowInfo.js"></script>
<script src="~/Scripts/highcharts.js"></script>
    <script>
    function PageLoad() {
        var dataset;
        var dataset1;
        $.ajax({
            type: 'POST',
            url: '/A7dot1dot1/Read_THRecord?WFE_ID=@ViewBag.WF_NAME',
            async: false,
            success: function (data) {
                dataset = JSON.parse(data.th_record);
                console.log(dataset);
                dataset1 = JSON.parse(data.th_problem);                
                $('#text_detail').html(data.th_detail);
            },
            error: function () {
                alert('error');
            }
        });
        $('#thjl_datatable').DataTable({
            "scrollX": false,
            "scrollY": "30vh",
            "scrollCollapse": true,
            "paging": false,
            "searching": false,
            "info": false,
            "ordering": false,
            "data": dataset,
            "columns": [
                { "data": "name" },
                { "data": "standard_value" },
                {
                    "data": "exact_value",
                    "render": function (data, type, full, meta) {
                        if (!validate_value(full.exact_value, full.standard_value)) {
                            return '<code>' + data + '</code>';
                        } else {
                            return data;
                        }
                    }

                },
            {
                "data": "name",
               "render": function (data, type, full, meta) {
            // console.log('<button type="button" class="btn btn-primary" onclick="graphic_show(\'' + full.name + '\')">趋势图</button>');
            return '<button type="button" class="btn btn-primary" onclick="graphic_show(\'' + full.name + '\')">趋势图</button>';
        }}
            ]
        });

        $('#thj1_problem').DataTable({
            "scrollX": false,
            "scrollY": "30vh",
            "scrollCollapse": true,
            "paging": false,
            "searching": false,
            "info": false,
            "ordering": false,
            "data": dataset1,
            "columns": [
                    { "data": "problem_catalogy" },
                    { "data": "problem_detail" }
            ]
        });
    };
    $(document).ready(
        PageLoad());
 
    function submit_click(i) {
        if (!confirm('确定要提交吗？'))
            return false;
        var DoZyConfirm = '@ViewBag.currentMiss.Miss_Params["DongZyConfirm_done"].ToString()';
        var DoZyMan = '@ViewBag.currentMiss.Miss_Params["DongZyMan"].ToString()';
        var DiZyConfirm = '@ViewBag.currentMiss.Miss_Params["DianZyConfirm_done"].ToString()';
        var DiZyMan = '@ViewBag.currentMiss.Miss_Params["DianZyMan"].ToString()';
        var YZyConfirm = '@ViewBag.currentMiss.Miss_Params["YiZyConfirm_done"].ToString()';
        var YZyMan = '@ViewBag.currentMiss.Miss_Params["YiZyMan"].ToString()';

        switch (i) {
            case 0: //动专业提交
                DoZyConfirm = 'true';
                DoZyMan = '@ViewBag.curuser';
                break;

            case 1:
                DiZyConfirm = 'true';
                DiZyMan = '@ViewBag.curuser';
                break;

            case 2:
                YZyConfirm = 'true';
                YZyMan = '@ViewBag.curuser';
                break;

            default:
                return;
        }

        var flow_name = $("#wef_id").val();
        $.ajax({
            type: 'POST',
            url: '/A7dot1dot1/JxdwConfirm_submitsignal',
            data: {
                json1: '{Flow_Name: "' + flow_name
                    + '", DongZyConfirm_done: "' + DoZyConfirm
                    + '", DongZyMan: "' + DoZyMan
                    + '", DianZyConfirm_done: "' + DiZyConfirm
                    + '", DianZyMan: "' + DiZyMan
                    + '", YiZyConfirm_done: "' + YZyConfirm
                    + '", YiZyMan: "' + YZyMan
                    + '"}'
            },
            success: function (data) {
                location.href = data;
            },
            error: function () {
                alert('error');
            }
        });
    }

    //function submit_click() {
        
    //    var DoZyConfirm = 'true';
    //    var DoZyMan = '';
    //    var DiZyConfirm = 'true';
    //    var DiZyMan = '';
    //    var YZyConfirm = 'true';
    //    var YZyMan = '';


    //    var flow_name = $("#wef_id").val();
    //    var Confirm_Result = $("input:radio[name='JxdwConfirm_Result']:checked").val();
    //    if (Confirm_Result != '是')
    //    {
    //        alert("请全部确认后进行处理、提交!");
    //        return false;
    //    }
    //    if (!confirm('确定要提交吗？'))
    //        return false;
    //    $.ajax({
    //            type: 'POST',
    //            url: '/A7dot1dot1/JxdwConfirm_submitsignal',
    //            data: {
    //                json1: '{Flow_Name: "' + flow_name
    //                    + '", DongZyConfirm_done: "' + DoZyConfirm
    //                    + '", DongZyMan: "' + DoZyMan
    //                    + '", DianZyConfirm_done: "' + DiZyConfirm
    //                    + '", DianZyMan: "' + DiZyMan
    //                    + '", YiZyConfirm_done: "' + YZyConfirm
    //                    + '", YiZyMan: "' + YZyMan
    //                    + '"}'
    //            },
    //            success: function (data) {
    //                location.href = data;
    //            },
    //            error: function () {
    //                alert('error');
    //            }
    //        });
    //    }
        
        function graphic_show(grahpic_name) {
            console.log("the grahpic is shown!");
            console.log(grahpic_name);
            $('#qst').modal('show');

            var g_data = [];
            var g_cat = [];
            $.ajax({
                type: 'POST',
                url: '/A7dot1dot1/GetGraphicData',
                data: {
                    "graphicName": grahpic_name,
                    "ser": $("#wef_ser").val()
                },
                async: false,
                dataType: 'json',
                success: function (data) {
                    for (i = 0; i < data.val.length; i++) {
                        g_data.push(data.val[i]);
                        g_cat.push(data.valtime[i]);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest);
                    alert(textStatus);
                    alert(errorThrown);
                }
            });

            $('#qst_graphic').highcharts({
                title: {
                    text: grahpic_name + '历史曲线',
                    x: -20 //center
                },

                xAxis: {
                    categories: g_cat
                },
                yAxis: {
                    title: {
                        text: '数值'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ''
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: grahpic_name,
                    data: g_data
                }]
            });

        }

        function validate_value(actual_value, standard_value) {
          
            var result = false;

            var reg_less = /[<]|[＜]/;
            var reg_more = /[>]|[＞]/;
            var reg_other = /-/;
            console.log("start ");
            if ((standard_value.search(reg_less)) != -1) {
                var tmp;
                if ((standard_value.search(/</)) != -1) {
                    console.log("the value contain <. and the index is " + standard_value.search(/</));
                    tmp = standard_value.substring(standard_value.search(/</) + 1, standard_value.length);
                }
                if ((standard_value.search(/＜/)) != -1) {
                    console.log("the value contain <. and the index is " + standard_value.search(/＜/));
                    tmp = standard_value.substring(standard_value.search(/＜/) + 1, standard_value.length);
                }
                console.log("the less value is " + tmp);
                // parseFloat(actual_value) <= parseFloat(tmp) ? $(td_index).css('background-color', 'white') : $(td_index).css('background-color', 'red');
                parseFloat(actual_value) <= parseFloat(tmp) ? (result = true) : (result = false);
                console.log("the less comparsion is done! the result is "+result);          
                
            }

            if ((standard_value.search(reg_more)) != -1) {
                var tmp;
                if ((standard_value.search(/>/)) != -1) {
                    console.log("the value contain >. and the index is " + standard_value.search(/>/));
                    tmp = standard_value.substring(standard_value.search(/>/) + 1, standard_value.length);
                }
                if ((standard_value.search(/＞/)) != -1) {
                    console.log("the value contain ＞. and the index is " + standard_value.search(/＞/));
                    tmp = standard_value.substring(standard_value.search(/＞/) + 1, standard_value.length);
                }
                console.log("the more value is " + tmp);
                parseFloat(actual_value) >= parseFloat(tmp) ? (result = true) : (result = false);
               
            }
            if ((standard_value.search(reg_other)) != -1) {
                console.log('the string contain -');
                // var tmp_arry = standard_value.split(/\D/);
                var min_value = standard_value.substring(0, standard_value.search(reg_other));
                var max_value = standard_value.substring(standard_value.search(reg_other) + 1, standard_value.length);
                console.log("the min_value is: " + min_value);
                console.log("the max_value is: " + max_value);
                if ((parseFloat(actual_value) >= parseFloat(min_value)) && (parseFloat(actual_value) <= parseFloat(max_value))) {
                    result = true;
                } else {
                    result = false;;
                }
                
            }
            console.log(result);
            return result;
        }

    </script>
}

