@{
    ViewBag.Title = "ZzSubmit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<section class="content" style="background-color: #ecf0f5;">
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <!-- 工作流当前任务-Star -->
                <!-- timeline item -->
                <li class="time-label">
                    <span class="bg-green">
                        当前任务：每月20号定时提报竖向问题
                    </span>
                    <input type="text" id="wfe_id" hidden="hidden" value="@ViewBag.wfe_id">
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-camera bg-purple"></i>
                    <div class="timeline-item">
                        @*<span class="time"><i class="fa fa-clock-o">@ViewBag.curtime</i>当前用户：@ViewBag.curuser</span>*@
                        @*<h3 class="timeline-header"><span class="lead" style="color:red">现场工程师提报(设备不完好问题）</span></h3>*@
                        <div class="timeline-body">
                            <form class="form-horizontal" role="form">
                                @*<input type="text" id="ZzsubmitName" hidden="hidden" value="@ViewBag.curuser">*@
                                @*                                <div class="form-group">
                                        <label class="col-sm-2 control-label">申请时间</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                <input type="text" class="form-control" id="submit_time" onclick="getCurrentTime()">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>*@
                                @*<div class="form-group">
                                        <label class="col-sm-2 control-label">申请车间</label>
                                        <div class="col-sm-10">
                                            <select class="form-control select2" style="width: 100%;" id="cjname" onchange="list_Zz()">
                                                <option value="">请选择</option>
                                                @if (Model.UserHasEquips != null)
                                                {
                                                    foreach (var item in Model.UserHasEquips)
                                                    {
                                                        <option value="@item.EA_Id">@item.EA_Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">申请装置</label>
                                    <div id="Zz_Select" class="col-sm-10">
                                        <select class="form-control select2" style="width: 100%;" id="zzId">
                                            <option value="@ViewBag.Zz_id">@ViewBag.Zz_name</option>
                                        </select>
                                    </div>
                                </div>
                                @*                                <div class="form-group">
                                        <label class="col-sm-2 control-label">申请人</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control " style="width: 100%;" id="personname" value="@Model.UserName">

                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">设备工艺编号</label>
                                    <div id="Equip_Select" class="col-sm-10">
                                        <select class="form-control select2" style="width: 100%;" id="Equip_GyCode" onchange="Equip_selected()">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">设备编号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="E_Code" disabled="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">设备型号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="E_Type" disabled="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">问题专业分类</label>
                                    <div class="col-sm-10">
                                        <label class="checkbox-inline">
                                            <input type="radio" name="zyoptionsRadiosinline" id="optionsRadios1"
                                                   value="动">动
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="zyoptionsRadiosinline" id="optionsRadios2"
                                                   value="静"> 静
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="zyoptionsRadiosinline" id="optionsRadios3"
                                                   value="电"> 电
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="zyoptionsRadiosinline" id="optionsRadios4"
                                                   value="仪"> 仪
                                        </label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">内容描述</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="3" id="problemDescription"></textarea>
                                    </div>
                                </div>

                            </form>



                            <form role="form">
                                <div class="box-footer">
                                    <button class="btn btn-primary col-sm-offset-1" type="button" onclick="Bc_click()">提交</button>
                                  
                                    <button class="btn btn-primary col-sm-offset-1" type="button" onclick="cancel_click()">取消</button>

                                    @*<button class="btn btn-primary col-sm-offset-1" type="button" onclick="submit_click()">结束本次批量提报</button>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <!-- 工作流当前任务-End -->
            </ul>
        </div>
    </div>

</section>

@section js{
    <!-- Page script -->
    <script src="~/Plugins/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/myFormValidator.js"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
            getCurrentTime();
            if ($('#zzId').val() != "") {
                $.ajax({
                    url: '/Common/Zz_Equips',
                    dataType: 'json',
                    type: 'post',
                    data: { "Zz_id": $('#zzId').val() },
                    success: function (backdata) {
                        if (backdata) {
                            var itemHtml = "<option value=\"\">" + "请选择" + "</option>";
                            for (var i = 0; i < backdata.length; i++) {
                                itemHtml = itemHtml + "<option value=\"" + backdata[i].Equip_Id + "\">" + backdata[i].Equip_GyCode + "</option>";
                            }
                            $('#Equip_GyCode').html(itemHtml);
                        }
                        else {
                            alert("error!!!");
                        }
                    }
                })
            }

        });

        function getCurrentTime() {
            var mydate = new Date();
            var t = mydate.toLocaleString();
            $("#submit_time").val(t);

        };
        function Equip_selected() {
            if ($('#Equip_GyCode').val() != "") {
                $.ajax({
                    url: '/Common/ListEquip_Info',
                    dataType: 'json',
                    type: 'post',
                    data: { "Equip_Id": $('#Equip_GyCode').val() },
                    success: function (backdata) {
                        if (backdata) {
                            $("#E_Code").val(backdata[0].Equip_Code);
                            $("#E_Type").val(backdata[0].Equip_Type);

                            $("input:radio[name='zyoptionsRadiosinline']").each(function () {
                                $(this).val() == backdata[0].Equip_Specialty ? $(this).attr("checked", "checked") : null;
                            })

                            $("input:radio[name='subzyoptionsRadiosinline']").each(function () {
                                $(this).val() == backdata[0].Equip_PhaseB ? $(this).attr("checked", "checked") : null;
                            })
                        }
                        else {
                            alert("error!!!");
                        }
                    }
                }
                )
            }
        };
        function Bc_click() {
            if (!myValidation())
                return false;
            if (!confirm('确定要提交吗？'))
                return false;
            $.ajax({
                type: 'POST',
                url: '/DSA5dot2/ZzSubmit_Bcsignal',
                data: {
                    json1: '{ Zz_Name: "' + $('#zzId').find("option:selected").text()
                        + '", Zz_Id: "' + $('#zzId').find("option:selected").val()
                         + '", wfe_id: "' + $('#wfe_id').val()
                         + '", Equip_GyCode: "' + $('#Equip_GyCode').find("option:selected").text()
                         + '", Equip_Code: "' + $('#E_Code').val()
                         + '", Equip_Type: "' + $('#E_Type').val()
                         + '", Zy_Type: "' + $("input:radio[name='zyoptionsRadiosinline']:checked").val()
                         + '", problemDescription: "' + $('#problemDescription').val()
                          + '"}'
                },
                success: function (data) {
                    location.href = data;
                },
                error: function () {
                    alert('error');
                }
            });


        }
        //function submit_click() {
        //    if (!myValidation())
        //        return false;
        //    if (!confirm('提交后工作流结束，确定要提交吗？'))
        //        return false;

        //    $.ajax({
        //        type: 'POST',
        //        url: '/DSA5dot2/ZzSubmit_submitsignal',
        //        data: {
        //            json1: '{ wfe_id: "' + $('#wfe_id').val()

        //        },
        //        success: function (data) {
        //            location.href = data;
        //        },
        //        error: function () {
        //            alert('error');
        //        }
        //    });
        //};

        function cancel_click() {
            if (!confirm('确定要取消吗？'))
                return false;

            //location.href = "/A5dot1/Index";

        };






    </script>
}







