@model WebApp.Controllers.A15dot1qiyeController.Index_ModelforA15
@{
    ViewBag.Title = "PqConfirm";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <!-- 工作流当前任务-Star -->
                <!-- timeline item -->
                <li class="time-label">
                    <span class="bg-green">
                        当前任务：绩效评估
                    </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                @foreach (var item in Model.Am)
                {
                    <li>
                        <i class="fa fa-camera bg-purple"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o">@ViewBag.curtime</i>当前用户：@ViewBag.curuser</span>
                            <h3 class="timeline-header"><span class="lead" style="color:red">绩效评估</span></h3>
                            @*<div class="timeline-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">提交单位</label>
                                            <div id="Equip_Select" class="col-sm-10">
                                                <select style="width: 100%;" id="submitDepartment" disabled="disabled">
                                                    <option value="@item.submitDepartment">@item.submitDepartment</option>
                                                    <option value="联合一片区">联合一片区</option>
                                                    <option value="联合二片区">联合二片区</option>
                                                    <option value="联合三片区">联合三片区</option>
                                                    <option value="联合四片区">联合四片区</option>
                                                    <option value="化工片区">化工片区</option>
                                                    <option value="综合片区">综合片区</option>
                                                    <option value="其他">其他</option>
                                                    <option value="检修单位">检修单位</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">报告类型</label>
                                            <div id="Equip_Select" class="col-sm-10">
                                                <select style="width: 100%;" id="reportType" disabled="disabled">
                                                    <option value="@item.reportType">@item.reportType</option>
                                                    <option value="月报">月报</option>

                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <input type="text" id="A15dot1_id" hidden="hidden" value="@item.Id">



                                </div>*@
                            <div class="timeline-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">提交车间</label>
                                        <div id="Equip_Select" class="col-sm-10">
                                            <select class="form-control select2" style="width: 100%;" id="cjname" name="cjname" disabled="disabled">
                                                <option value="">@item.temp3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">提交装置</label>
                                        <div id="Equip_Select" class="col-sm-10">
                                            <select class="form-control select2" style="width: 100%;" id="zzId" name="zzname" disabled="disabled">
                                                <option value="">@item.submitDepartment</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">报告类型</label>
                                        <div id="Equip_Select" class="col-sm-10">
                                            <select style="width: 100%;" id="reportType" disabled="disabled">
                                                <option value="月报">月报</option>

                                            </select>
                                        </div>
                                    </div>
                                </form>



                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-camera bg-purple"></i>
                        <div class="timeline-item">

                            <h3 class="timeline-header"><span class="lead" style="color:red">一、KPI指标</span></h3>
                            <div class="timeline-body">
                                <form class="form-horizontal" role="form">
                                    <div id="Jxpg" class="form-group">
                                        <table id="example1" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>指标类型</th>
                                                    <th>指标名称</th>
                                                    <th>年度目标值</th>
                                                    <th>累计值</th>
                                                    <th>当月完成值</th>
                                                    <th>趋势图</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>KPI</td>
                                                    <td>装置可靠性指数</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" name="KPI" id="equipReliableExponent" class="form-control" placeholder="输入实际值 ..." onchange="vail(this.value, 'equipReliableExponent')"></td>
                                                    <td><button type="button" class="btn btn-primary" onclick="graphic_show('zzkkxzs')">查看</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>维修费用指数</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" name="KPI" id="maintainChargeExponent" class="form-control" placeholder="输入实际值 ..." onchange="vail(this.value, 'maintainChargeExponent')"></td>
                                                    <td><button type="button" class="btn btn-primary" onclick="graphic_show('wxfyzs')">查看</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>千台离心泵（机泵）密封消耗率</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" name="KPI" id="thousandLXBrate" class="form-control" placeholder="输入实际值 ..." onchange="vail(this.value, 'thousandLXBrate')"></td>
                                                    <td><button type="button" class="btn btn-primary" onclick="graphic_show('qtlxbmfxhl')">查看</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>千台冷换设备管束（含整台）更换率</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" name="KPI" id="thousandColdChangeRate" class="form-control" placeholder="输入实际值 ..." onchange="vail(this.value, 'thousandColdChangeRate')"></td>
                                                    <td><button type="button" class="btn btn-primary" onclick="graphic_show('qtlhsbgsghl')">查看</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>仪表实际控制率</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" name="KPI" id="instrumentControlRate" class="form-control" placeholder="输入实际值 ..." onchange="vail(this.value, 'instrumentControlRate')"></td>
                                                    <td><button type="button" class="btn btn-primary" onclick="graphic_show('ybsjkzl')">查看</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>事件数</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" name="KPI" id="eventNumber" class="form-control" placeholder="输入实际值 ..." onchange="vail(this.value, 'eventNumber')"></td>
                                                    <td><button type="button" class="btn btn-primary" onclick="graphic_show('sjs')">查看</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>故障强度扣分</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" name="KPI" id="troubleKoufen" class="form-control" placeholder="输入实际值 ..." onchange="vail(this.value, 'troubleKoufen')"></td>
                                                    <td><button type="button" class="btn btn-primary" onclick="graphic_show('gzqdkf')">查看</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>项目逾期率</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" name="KPI" id="projectLateRate" class="form-control" placeholder="输入实际值 ..." onchange="vail(this.value, 'projectLateRate')"></td>
                                                    <td><button type="button" class="btn btn-primary" onclick="graphic_show('xmyql')">查看</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>培训及能力</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="text" name="KPI" id="trainAndAbility" class="form-control" placeholder="输入实际值 ..." onchange="vail(this.value, 'trainAndAbility')"></td>
                                                    <td><button type="button" class="btn btn-primary" onclick="graphic_show('pxjnl')">查看</button></td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </li>



                    <li>
                        <i class="fa fa-camera bg-purple"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header"><span class="lead" style="color:red">二、可靠性结论</span></h3>
                            <div class="timeline-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">可靠性结论</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" id="reliabilityConclusion">@item.reliabilityConclusion</textarea>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </li>



                    <li>
                        <i class="fa fa-camera bg-purple"></i>
                        <div class="timeline-item">

                            <div class="timeline-body">

                                <input type="text" id="A15dot1_id" hidden="hidden" value="@item.Id">
                                <form role="form">
                                    <div class="box-footer">
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button class="btn btn-primary col-sm-offset-4" type="button" onclick="submit_click()">保存</button>
                                                <button class="btn btn-primary col-sm-offset-2" type="button" onclick="confirm_click()">提交</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <!-- 工作流当前任务-End -->
                }
            </ul>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
<div class="modal fade" id="qst" tabindex="-1" role="dialog"
     aria-labelledby="qst_title" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;height:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="qst_title">
                    趋势图
                </h4>
            </div>
            <div class="modal-body" id="qst_graphic" style="width:700px;height:50%">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
@section js{
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script>
        function PageLoad() {

        };
        $(document).ready(
            PageLoad());

        $(function () {

            //Date picker
            $('#submitTime').datepicker(
               {
                   autoclose: true,
                   beforeShowDay: $.noop,
                   calendarWeeks: false,
                   clearBtn: false,
                   daysOfWeekDisabled: [],
                   endDate: Infinity,
                   forceParse: true,
                   format: 'yyyy-mm-dd',
                   keyboardNavigation: true,
                   language: 'zh-CN',
                   minViewMode: 0,
                   orientation: "auto",
                   rtl: false,
                   startDate: -Infinity,
                   startView: 0,
                   todayBtn: false,
                   todayHighlight: true,
                   weekStart: 0
               });

            $('#jdcOperateTime').datepicker(
               {
                   autoclose: true,
                   beforeShowDay: $.noop,
                   calendarWeeks: false,
                   clearBtn: false,
                   daysOfWeekDisabled: [],
                   endDate: Infinity,
                   forceParse: true,
                   format: 'yyyy-mm-dd',
                   keyboardNavigation: true,
                   language: 'zh-CN',
                   minViewMode: 0,
                   orientation: "auto",
                   rtl: false,
                   startDate: -Infinity,
                   startView: 0,
                   todayBtn: false,
                   todayHighlight: true,
                   weekStart: 0
               });

        });

        function vail(value, id) {

            if (value.match(/^(\d*\.)?\d+$/) == null) {
                alert('只需且必须输入数值');
                document.getElementById(id).value = "";//getElementById(id)括号内不需要引号也能用
            }
        }
        function graphic_show(grahpic_name) {
            //var signal = $(this).parents("button").parents("td").parents("tr").find("td:eq(1)").text();
            //alert($("#example1 tr:eq(1) td:nth-child(2)").text());

            SD = $('#zzId').find("Option:selected").text();
            $.ajax({
                url: '/A15dot1qiye/qst',
                type: 'post',
                dataType: 'json',
                data: {
                    "grahpic_name": grahpic_name,
                    "zz": SD
                },

                success: function (data) {

                    //highchart中xAxis的categories与yAxis中series的data所需的格式均为Array，yAxis中的Array必须为数值，xAxis则任意格式
                    var dataforqst = new Array();
                    zz = data.toString().split(",$$,");

                    dataforqst = zz[0].split(",");
                    //将dataforqst中的值由字符串变为数值
                    for (i = 0; i < dataforqst.length; i++) {
                        dataforqst[i] = parseFloat(dataforqst[i]);
                    }
                    var xArray = new Array();
                    xArray = zz[1].split(",");
                    for (j = 0; j < xArray.length; j++) {
                        xArray[j] = xArray[j].toString().substr(2, 5);

                    }
                    $('#qst').modal('show');

                    $('#qst_graphic').highcharts({
                        title: {
                            text: grahpic_name + '历史曲线',
                            x: -20 //center
                        },
                        xAxis: {
                            categories: xArray
                        },
                        yAxis: {
                            title: {
                                text: '数值'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        series: [{
                            name: grahpic_name,
                            data: dataforqst
                        }]
                    });

                }
             ,
                error: function (err) {
                    alert(err.toString());
                }
            });


        }
        //function graphic_show(grahpic_name) {
        //    pianqu = $("#submitDepartment").val();
        //    console.log("the grahpic is shown!");
        //    console.log(grahpic_name);
        //    $.ajax({
        //        url: '/A15dot1/qst',
        //        type: 'post',
        //        dataType: 'json',
        //        data: {
        //            "grahpic_name": grahpic_name,
        //         "pianqu": pianqu},

        //        success: function (data) {


        //            $('#qst').modal('show');
        //            $('#qst_graphic').highcharts({
        //                title: {
        //                    text: grahpic_name + '历史曲线',
        //                    x: -20 //center
        //                },

        //                xAxis: {
        //                    categories: ['一月', '二月', '三月', '四月', '六月', '七月', '八月']
        //                },
        //                yAxis: {
        //                    title: {
        //                        text: '数值'
        //                    },
        //                    plotLines: [{
        //                        value: 0,
        //                        width: 1,
        //                        color: '#808080'
        //                    }]
        //                },
        //                tooltip: {
        //                    valueSuffix: ''
        //                },
        //                legend: {
        //                    layout: 'vertical',
        //                    align: 'right',
        //                    verticalAlign: 'middle',
        //                    borderWidth: 0
        //                },
        //                series: [{
        //                    name: grahpic_name,
        //                    data: data
        //                }]
        //            });

        //        }
        //     ,
        //        error: function (err) {
        //            alert(err.toString());
        //        }
        //    });


        //}
        function list_Zz() {
            if ($('#cjname').val() != "") {
                $.ajax({
                    url: '/Common/Cj_Zzs',
                    dataType: 'json',
                    type: 'post',
                    data: { "cj_id": $('#cjname').val() },
                    success: function (backdata) {
                        if (backdata) {
                            var itemHtml = "<option value=\"\">" + "请选择" + "</option>";
                            for (var i = 0; i < backdata.length; i++) {
                                itemHtml = itemHtml + "<option value=\"" + backdata[i].Zz_Id + "\">" + backdata[i].Zz_Name + "</option>";
                            }
                            $('#zzId').html(itemHtml);
                        }
                        else {
                            alert("error!!!");
                        }
                    }
                })
            }
        };
        function submit_click() {

            if (!confirm('确定要保存吗？'))
                return false;
            var A15dot1_id = $("#A15dot1_id").val();
            var obj = document.getElementsByName('KPI'); //选择所有name="'KPI'"的对象，返回数组
            //取到对象数组后，我们来循环检测它是否有值

            for (var i = 0; i < obj.length; i++) {
                if (obj[i].value == "") {
                    alert("KPI指标中有未填项！");
                    return false;
                }
            }


            $.ajax({
                type: 'POST',
                url: '/A15dot1qiye/Modify_submitsignal',
                data: {
                    json1: '{ A15dot1_id: "' + A15dot1_id//根据这个id确定修改的一行
                       + '", maintainChargeExponent: "' + $("#maintainChargeExponent").val()
                        + '", thousandLXBrate: "' + $("#thousandLXBrate").val()
                        + '", thousandColdChangeRate: "' + $("#thousandColdChangeRate").val()
                        + '", instrumentControlRate: "' + $("#instrumentControlRate").val()
                        + '", rateEquipUse: "' + $("#rateEquipUse").val()
                        + '", eventNumber: "' + $("#eventNumber").val()
                        + '", troubleKoufen: "' + $("#troubleKoufen").val()
                        + '", projectLateRate: "' + $("#projectLateRate").val()
                        + '", trainAndAbility: "' + $("#trainAndAbility").val()
                        + '", reliabilityConclusion: "' + $("#reliabilityConclusion").val()
                          + '", state: "' + "0"
                        + '", zzId: "' + $('#zzId').find("Option:selected").text()
                        + '"}'
                },
                success: function (data) {
                    alert('操作已完成！');
                    location.href = "/A15dot1/Index";
                },
                error: function () {
                    alert('error');
                }
            });

        }
        function confirm_click() {

            if (!confirm('确定要提交吗？'))
                return false;
            var A15dot1_id = $("#A15dot1_id").val();
            var obj = document.getElementsByName('KPI'); //选择所有name="'KPI'"的对象，返回数组
            //取到对象数组后，我们来循环检测它是否有值

            for (var i = 0; i < obj.length; i++) {
                if (obj[i].value == "") {
                    alert("KPI指标中有未填项！");
                    return false;
                }
            }


            $.ajax({
                type: 'POST',
                url: '/A15dot1qiye/Modify_submitsignal',
                data: {
                    json1: '{ A15dot1_id: "' + A15dot1_id//根据这个id确定修改的一行
                      + '", maintainChargeExponent: "' + $("#maintainChargeExponent").val()
                       + '", thousandLXBrate: "' + $("#thousandLXBrate").val()
                       + '", thousandColdChangeRate: "' + $("#thousandColdChangeRate").val()
                       + '", instrumentControlRate: "' + $("#instrumentControlRate").val()
                       + '", rateEquipUse: "' + $("#rateEquipUse").val()
                       + '", eventNumber: "' + $("#eventNumber").val()
                       + '", troubleKoufen: "' + $("#troubleKoufen").val()
                       + '", projectLateRate: "' + $("#projectLateRate").val()
                       + '", reliabilityConclusion: "' + $("#reliabilityConclusion").val()
                       + '", trainAndAbility: "' + $("#trainAndAbility").val()
                         + '", state: "' + "1"
                       + '", zzId: "' + $('#zzId').find("Option:selected").text()
                       + '"}'
                },
                success: function (data) {
                    alert('操作已完成！');
                    location.href = "/A15dot1/Index";
                },
                error: function () {
                    alert('error');
                }
            });
        }





        function showRequest(formData, jqForm, options) {
            alert('发送前');
            return true;
        }

        function showResponse(responseText, statusText) {

        };
    </script>
}