@model WebApp.Controllers.CommonController.WFDetail_Model
@{
    ViewBag.Title = "PqConfirm";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-8">
            <!-- The time line -->
            <ul class="timeline">
               <!-- 工作流当前任务-Star -->
                    <!-- timeline item -->
                <li class="time-label">
                    <span class="bg-green">
                        业务流水号：<button class="btn btn-default" onclick="DispalsySide('@ViewBag.WF_Ser')">@ViewBag.WF_Ser</button>
                    </span>
                </li>
                    <li class="time-label">
                        <span class="bg-green">
                           当前任务：可靠性工程师审核
                        </span>
                    </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-camera bg-purple"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o">@ViewBag.curtime</i>当前用户：@ViewBag.curuser</span>
                        <h3 class="timeline-header"><span class="lead" style="color:red">可靠性工程师审核</span></h3>
                        <div class="timeline-body">
                            <form role="form">
                                <input type="text" id="wef_id" hidden="hidden" value="@ViewBag.WF_NAME">
                                <div id="Jxdw" class="form-group">
                                    <p class="text-green">是否同意？</p>
                                    <div class="radio">
                                        <label>
                                            <input name="PqConfirm_Result" id="PqConfirm_ResultYes" type="radio" value="是"  onchange="PqConfirm_ResultYes_Click()">
                                            是
                                        </label>
                                        <label>
                                            <input name="PqConfirm_Result" id="PqConfirm_ResultNo" type="radio" value="否" onchange="PqConfirm_ResultNo_Click()">
                                            否
                                        </label>
                                    </div>
                                    <div class="form-group" id="ConfirmReason">
                                        <label class="text-red">原因：</label>
                                        <div class="">
                                            <textarea class="form-control" rows="3" id="Zytd_Reason"></textarea>
                                        </div>
                                    </div>
                                </div>
                                  <div class="box-footer">
                                    <button class="btn btn-primary" type="button" onclick="submit_click()">确定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <!-- 工作流当前任务-End -->

                 <!-- 工作流历史操作-通用部分Star -->
                   <li class="time-label">
                            <span class="bg-green">
                               当前工作流历史操作
                            </span>
                        </li>
                     <!-- timeline time label -->  
                    @for (int i = @Model.ALLHistoryMiss.Count()-1; i >=1 ; i--)
                    {     <li class="time-label">
                              <a class="btn btn-primary" role="button" data-toggle="collapse" href="#@i" aria-expanded=true aria-controls="@i">
                                  @Model.MissTime[i] - @Model.ALLHistoryMiss[i].WE_Event_Desc
                              </a>
                           </li>
                    
                          <li class="collapse" id="@i">
                            <i class="fa fa-camera bg-purple"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o">@Model.MissTime[i]</i>操作用户： @Model.MissUser[i]</span>
                                <h3 class="timeline-header lead"><span class="lead" style="color:red">@Model.ALLHistoryMiss[i].WE_Event_Desc</span></h3>
                                <div class="timeline-body">
                                    <table class="table  table-hover table-bordered">
                                        <tbody>
                                             @foreach (var pp in @Model.ALLHistoryMiss[i].Miss_ParamsAppRes)
                                            {
                                                if(pp.Value.ToString()!="App_hidden")
                                                {
                                                    <tr class="info">
                                                        <th>@Model.ALLHistoryMiss[i].Miss_ParamsDesc[pp.Key]</th>
                                                       @if ((@Model.ALLHistoryMiss[i].Miss_ParamsDesc[pp.Key].ToString()).IndexOf("附件") > -1 && @Model.ALLHistoryMiss[i].Miss_Params[pp.Key]!="")
                                                       {
                                                           string[] savedFileName = (@Model.ALLHistoryMiss[i].Miss_Params[pp.Key].ToString()).Split(new char[] { '$' });
                                                           string saveExistFilename = Path.Combine("/Upload", savedFileName[1]);
                                                           <td><a href=@saveExistFilename target=_blank> @savedFileName[0]</a></td> }
                                                       else
                                                        {<td>@Model.ALLHistoryMiss[i].Miss_Params[pp.Key]</td>}
                                                    </tr>
                                                 }
                                            }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </li>
                }
                     
                <!-- END timeline item -->

                  <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                    </li> 
            <!-- 工作流历史操作-通用部分End -->
            </ul>
        </div>
        <!-- /.col --><div class="col-md-4" id="sidebar"> </div>
    </div>
    <!-- /.row -->
 
</section>
<!--参数显示模态框开始处-->
<div class="modal fade" id="ParamModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">相关参数显示</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="ParamDiv">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>

            </div>
        </div>

    </div>

</div>
<!--参数显示模态框结束处-->
<!--设备信息显示模态框开始处-->
<div class="modal fade" id="EquipInfoModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设备相关信息</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="EquipInfoDiv">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>

</div><!--设备信息显示模态框结束处--> 
@section js{
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/myFormValidator.js"></script>
<link rel="stylesheet" type="text/css" href="~/Plugins/jquery.dataTables.min.css" />
<link href="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet" />
<script src="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<script src="~/Scripts/myWorkFlowInfo.js"></script>
<script src="~/Scripts/highcharts.js"></script>
    <script>
        function PageLoad() {
            $("#ConfirmReason").hide();
        };
        $(document).ready(
            PageLoad());



        function PqConfirm_ResultNo_Click() {                           
            $("#ConfirmReason").show();
        }
        function PqConfirm_ResultYes_Click() {
            $("#ConfirmReason").hide();
        }

        function submit_click() {
            if ($("input:radio[name='PqConfirm_Result']:checked").val() != '是' && $("input:radio[name='PqConfirm_Result']:checked").val() != '否') {
                alert("尚未确认！");
                return false;
            }
            if (!confirm('确定要提交吗？'))
                return false;
            var flow_name = $("#wef_id").val();
            var PqConfirm_Result = $("input:radio[name='PqConfirm_Result']:checked").val();
           
                PqConfirm_done = "true";   
                $.ajax({
                    type: 'POST',
                    url: '/A11dot1/PqConfirm_submitsignal',
                    data: {
                        json1: '{Flow_Name: "' + flow_name             
                            + '", PqConfirm_done: "' + PqConfirm_done
                            + '", PqConfirm_Result: "' + PqConfirm_Result
                            + '", PqConfirm_Reason: "' + $('#Zytd_Reason').val()
                            + '"}'
                    },
                    success: function (data) {
                        location.href = data;
                    },
                    error: function () {
                        alert('error');
                    }
                });
            
        }
    </script>
}