@model MVCTest.Controllers.MainController.MainModel
@{
    ViewBag.Title = "Index";
}

<script language="JavaScript">
    function create(name) {
        $.ajax({
            type: 'POST',
            url: '/Main/CreateFlow',            
            data: { flowname: name },
            success: function (data) {
                location.href = data;
            },
            error: function () {
                alert('error');
            }
        });
    }

    function Op_Mission(index) {
        $ajax({
            type: 'Post',
            url: '/Main/MissionOperator',
            data: { minssionid: index },
            success: function (data) {
                location.href = data;
            },
            error: function () {
                alert('error');
            }
        });
    }
</script>

<div>
    <p>工作流列表</p>
    
    <table border="1">
        <tr>
            <td>序号</td>
            <td>工作流名称</td>
            <td>工作流描述</td>
            <td>操作</td>
        </tr>
        @foreach (var item in Model.wfs)
        {
            <tr>
                <td>
                @(Model.wfs.IndexOf(item) + 1)
                </td>
                <td>@item.wf_name</td>
                <td>@item.wf_description</td>
                <td><button onclick="create('@item.wf_name')">发起</button></td>
            </tr>
        }
    </table>
    <p>待处理任务列表</p>
    <table border="1">
        <tr>
            <td>序号</td>
            <td>工作流名称</td>
            <td>任务名称</td>
            <td>任务描述</td>
            <td>操作</td>
        </tr>
        @foreach (var item in Model.miss)
        {
            <tr>
                <td>@(Model.miss.IndexOf(item) + 1)</td>
                <td>@item.WE_Name</td>
                <td>@item.WE_Event_Name</td>
                <td>@item.WE_Event_Desc</td>
                <td><button onclick="JavaScript: location.href='@item.Mission_Url'">操作</button></td>
            </tr>
        }
        
    </table>
</div>

