@model WebApp.Controllers.A5dot2Controller.Index_ModelforA5dot2

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }

    <style type="text/css">
        tr.MM_hidden {
            display: none;
        }

        /*tr.MM_shown {
        }*/

        tr.selected {
            background-color: #acbad4;
        }
    </style>
    <link rel="stylesheet" href="~/Plugins/AdminLTE/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/Plugins/AdminLTE/plugins/datatables/extensions/Select/css/select.bootstrap.min.css" />

    <section class="content" style="background-color: #ecf0f5;">
        <div class="box box-primary">
            <div class="box-header with-border bg-gray">
                <h3 class="box-title" style="font: medium bold; font-family:SimHei;color:red">A5.2-竖向管理</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                       @if (Model.jwxry == 1)
                       {
                        <a id="Add" class="btn btn-block btn-social btn-info" onclick="Create()">
                            <i class="fa fa-pencil-square-o"></i>现场工程师提报竖向检查表
                        </a>
                       }
                    </div>
                </div>
                 <div class="row">
                  <div class="col-xs-6 col-md-3">
                  <p></p>
                 </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                       @if (Model.jdc == 1)
                       {
                        <a id="PqSummary" class="btn btn-block btn-social btn-info" onclick="JavaScript: location.href = '/A5dot2/SBShuxiang?time=@Model.time'">
                            
                            <i class="fa fa-pencil-square-o"></i>机动处选择最脏十台机泵
                        </a>
                        }
                    </div>
                    
                </div>
                 <div class="row">
                  <div class="col-xs-6 col-md-3">
                  <p></p>
                 </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        @if (Model.jdc == 1)
                       {
                        <a id="JdcSummary" class="btn btn-block btn-social btn-info" onclick="JavaScript: location.href = '/A5dot2/JdcSummary?time=@Model.time'">
                            <i class="fa fa-pencil-square-o"></i>机动处汇总
                        </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <p class="box-title" style="font:bold; color:red">待处理任务列表</p>
@*                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>*@
            </div>


            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="example1" class="table table-hover table-bordered">                           
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>装置</th>
                                    <th>设备工艺编号</th>
                                    <th>设备编号</th>
                                    <th>上次提交人</th>
                                    <th>提交时间</th>
                                    <th>当前状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Am)
                                {
                                    <tr>
                                        <td>@item.temp1</td>
                                        <td>@item.zzName</td>
                                        <td>@item.sbGyCode</td>
                                        <td>@item.sbCode</td>
                                        <td>@item.jxUserName</td>
                                        <td>@item.jxSubmitTime</td>
                                        <td>可靠性工程师确认</td>
                                        <td><button onclick="JavaScript: location.href = '/A5dot2/PqConfirm?id=@item.Id'">处理</button></td>


                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="box">
            <div class="box-header">
                <p class="box-title " style="font:bold; color:red">历史任务列表（已完成）</p>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>*@
        <!-- /.box -->




    </section>
    @section js{
        <!-- Page script -->
        <script>

            $(function () {
                $("thead").css("background", "#7CCD7C");
                $("tbody tr").addClass("info");
            });


            function Create() {
                location.href = "ShuxiangCheck";
            }

            //function PqSummary() {
            //    $.ajax({
            //        type: 'POST',
            //        url: '/A5dot2/PqSummary',
            //        data: { flowname: "A5dot2" },
            //        success: function (data) {
            //            //location.href = '/A5dot2/PqSummary';
            //        },
            //        error: function (data) {
            //            alert('error: A5.2 index-PqSummary');
            //        }
            //    });
            //}
            //function JdcSummary() {
            //    $.ajax({
            //        type: 'POST',
            //        url: '/A5dot2/JdcSummary',
            //        data: { flowname: "A5dot2" },
            //        success: function (data) {
            //            location.href = '/A5dot2/JdcSummary';
            //        },
            //        error: function (data) {
            //            alert('error: A5.2 index-JdcSummary');
            //        }
            //    });
            //}
        </script>

     <script>
             $(function () {
                 $("#example1").DataTable({
                    "oLanguage": {
                                     "sLengthMenu": "每页显示 _MENU_ 条记录",
                                     "sZeroRecords": "抱歉， 没有找到",
                                     "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                     "sInfoEmpty": "没有数据",
                                     "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                     "sZeroRecords": "没有检索到数据",
                                     "sSearch": "模糊查询:  ",
                                     "sProcessing": "<img src='/images/loading.gif'>  努力加载数据中.",
                                     "oPaginate": {
                                         "sFirst": "首页",
                                         "sPrevious": "前一页",
                                         "sNext": "后一页",
                                         "sLast": "尾页"
                                     }
                                  },
                     "paging": true,
                     "lengthChange": false,
                     "searching": true,
                     //"ordering": true,
                     "info": true,
                     "autoWidth": false,
                     "aoColumnDefs": [ { "bSortable": false, "aTargets": [0,3,4,5] }] 
                 });
                 $('#example2').DataTable({
                     "oLanguage": {
                                     "sLengthMenu": "每页显示 _MENU_ 条记录",
                                     "sZeroRecords": "抱歉， 没有找到",
                                     "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                     "sInfoEmpty": "没有数据",
                                     "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                     "sZeroRecords": "没有检索到数据",
                                     "sSearch": "模糊查询:  ",
                                     "sProcessing": "<img src='/images/loading.gif'>  努力加载数据中.",
                                     "oPaginate": {
                                         "sFirst": "首页",
                                         "sPrevious": "前一页",
                                         "sNext": "后一页",
                                         "sLast": "尾页"
                                     }
                                },
                     "paging": true,
                     "lengthChange": false,
                     "searching": true,
                     //"ordering": true,
                     "info": true,
                     "autoWidth": false,
                     "aoColumnDefs": [ { "bSortable": false, "aTargets": [0,4,5] }] 
                 });
             });
      </script>
    }


