@model WebApp.Controllers.CommonController.WFDetail_Model
@{
    ViewBag.Title = "ZzPqConfirm";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-8">
            <!-- The time line -->
            <ul class="timeline">
                <!-- 工作流当前任务-Star -->
                <!-- timeline item -->
                <li class="time-label">
                    <span class="bg-green">
                        业务流水号：<button class="btn btn-default" onclick="DispalsySide('@ViewBag.WF_Ser')">@ViewBag.WF_Ser</button>
                    </span>
                </li>
                <li class="time-label">
                    <span class="bg-green">
                        当前任务：物资处、检维修单位确认是否需要采购
                    </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-camera bg-purple"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o">@ViewBag.curtime</i>当前用户：@ViewBag.curuser</span>
                        <h3 class="timeline-header"><span class="lead" style="color:red">物资处、检维修单位确认是否需要采购</span></h3>
                        <div class="timeline-body">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <input type="text" id="wef_id" hidden="hidden" value="@ViewBag.WF_NAME">
                                    @if (ViewBag.Job_OrderState=="下达")
                                    { 
                                    <div class="box-footer">
                                        <label class="col-sm-2 control-label">物资处、检维修单位确认</label>
                                        <div class="col-sm-6">
                                            <table class="table table-bordered text-center">

                                                <tbody>

                                                    <tr>
                                                        <th width="25%">物资处确认</th>

                                                        <th>
                                                            @if (@ViewBag.currentMiss.Miss_Params["IsCaiGou_Wzc"].ToString() == "是")
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>需要采购</button>
                                                            }
                                                            else if(@ViewBag.currentMiss.Miss_Params["IsCaiGou_Wzc"].ToString() == "否")
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>不需要采购</button>
                                                            }
                                                            else
                                                            {

                                                                if ((@ViewBag.user_Depart as string).Split(',').Contains("物资处"))
                                                                {
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" onclick="submit_click(0)">需要采购</button>
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" onclick="submit_click(2)">不需要采购</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-block btn-warning col-md-3" disabled>需要采购</button>
                                                                    <button type="button" class="btn btn-block btn-warning col-md-3" disabled>不需要采购</button>
                                                                }
                                                            }
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th width="25%">检修单位确认</th>

                                                        <th>
                                                            @if (Convert.ToString(@ViewBag.currentMiss.Miss_Params["IsCaiGou_Jxdw"]) == "是")
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>需要采购</button>
                                                            }
                                                            else if (@ViewBag.currentMiss.Miss_Params["IsCaiGou_Jxdw"].ToString() == "否")
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>不需要采购</button>
                                                            }
                                                            else
                                                            {
                                                                if ((@ViewBag.user_Role as string).Contains("检维修人员"))
                                                                {
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" onclick="submit_click(1)">需要采购</button>
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" onclick="submit_click(3)">不需要采购</button>
                                                                }
                                                                else
                                                                {
                                                                   <button type="button" class="btn btn-block btn-warning col-md-3" disabled>需要采购</button>
                                                                   <button type="button" class="btn btn-block btn-warning col-md-3" disabled>不需要采购</button>
                                                                }
                                                            }
                                                        </th>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    }
                                    else
                                    { 
                                    <div class="box-footer">
                                        <label class="col-sm-2 control-label">物资处、检维修单位确认</label>
                                        <div class="col-sm-6">
                                            <table class="table table-bordered text-center">

                                                <tbody>

                                                    <tr>
                                                        <th width="25%">物资处确认</th>

                                                        <th>
                                                            @if (@ViewBag.currentMiss.Miss_Params["IsCaiGou_Wzc"].ToString() == "是")
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>需要采购</button>
                                                            }
                                                            else if (@ViewBag.currentMiss.Miss_Params["IsCaiGou_Wzc"].ToString() == "否")
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>不需要采购</button>
                                                            }
                                                            else
                                                            {

                                                                if ((@ViewBag.user_Depart as string).Split(',').Contains("物资处"))
                                                                {
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" disabled>需要采购</button>
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" disabled>不需要采购</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-block btn-warning col-md-3" disabled>需要采购</button>
                                                                    <button type="button" class="btn btn-block btn-warning col-md-3" disabled>不需要采购</button>
                                                                }
                                                            }
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th width="25%">检修单位确认</th>

                                                        <th>
                                                            @if (Convert.ToString(@ViewBag.currentMiss.Miss_Params["IsCaiGou_Jxdw"]) == "是")
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>需要采购</button>
                                                            }
                                                            else if (@ViewBag.currentMiss.Miss_Params["IsCaiGou_Jxdw"].ToString() == "否")
                                                            {
                                                                <button type="button" class="btn btn-block btn-success col-md-3" disabled>不需要采购</button>
                                                            }
                                                            else
                                                            {
                                                                if ((@ViewBag.user_Role as string).Contains("检维修人员"))
                                                                {
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" disabled>需要采购</button>
                                                                    <button type="button" class="btn btn-block btn-primary col-md-3" disabled>不需要采购</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-block btn-warning col-md-3" disabled>需要采购</button>
                                                                    <button type="button" class="btn btn-block btn-warning col-md-3" disabled>不需要采购</button>
                                                                }
                                                            }
                                                        </th>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    }
                                    当前工单状态：@ViewBag.Job_OrderState
                                </div>

                            </div>

                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <!-- 工作流当前任务-End -->
                <!-- 工作流历史操作-通用部分Star -->
                <li class="time-label">
                    <span class="bg-green">
                        当前工作流历史操作
                    </span>
                </li>
                <!-- timeline time label -->
                @for (int i = @Model.ALLHistoryMiss.Count() - 1; i >= 1; i--)
                {
                    <li class="time-label">
                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#@i" aria-expanded=true aria-controls="@i">
                            @Model.MissTime[i] - @Model.ALLHistoryMiss[i].WE_Event_Desc
                        </a>
                    </li>

                    <li class="collapse" id="@i">
                        <i class="fa fa-camera bg-purple"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o">@Model.MissTime[i]</i>操作用户： @Model.MissUser[i]</span>
                            <h3 class="timeline-header lead"><span class="lead" style="color:red">@Model.ALLHistoryMiss[i].WE_Event_Desc</span></h3>
                            <div class="timeline-body">
                                <table class="table  table-hover table-bordered">
                                    <tbody>
                                        @foreach (var pp in @Model.ALLHistoryMiss[i].Miss_ParamsAppRes)
                                        {
                                            if (pp.Value.ToString() != "App_hidden")
                                            {
                                                <tr class="info">
                                                    <th>@Model.ALLHistoryMiss[i].Miss_ParamsDesc[pp.Key]</th>
                                                    @if ((@Model.ALLHistoryMiss[i].Miss_ParamsDesc[pp.Key].ToString()).IndexOf("附件") > -1 && @Model.ALLHistoryMiss[i].Miss_Params[pp.Key] != "")
                                                    {
                                                        string[] savedFileName = (@Model.ALLHistoryMiss[i].Miss_Params[pp.Key].ToString()).Split(new char[] { '$' });
                                                        string saveExistFilename = Path.Combine("/Upload", savedFileName[1]);
                                                        <td><a href=@saveExistFilename target=_blank> @savedFileName[0]</a></td> }
                                                    else
                                                    {
                                                        <td>@Model.ALLHistoryMiss[i].Miss_Params[pp.Key]</td>}
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </li>
                }

                <!-- END timeline item -->

                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
                <!-- 工作流历史操作-通用部分End -->
            </ul>
        </div>
        <!-- /.col -->
        <div class="col-md-4" id="sidebar"> </div>
    </div>
    <!-- /.row -->

</section>
<!--参数显示模态框开始处-->
<div class="modal fade" id="ParamModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">相关参数显示</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="ParamDiv">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>

            </div>
        </div>

    </div>

</div>
<!--参数显示模态框结束处-->
<!--设备信息显示模态框开始处-->
<div class="modal fade" id="EquipInfoModal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设备相关信息</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="EquipInfoDiv">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>

</div><!--设备信息显示模态框结束处-->
@section js{
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/myFormValidator.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Plugins/jquery.dataTables.min.css" />
    <link href="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.css" rel="stylesheet" />
    <script src="~/Plugins/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="~/Scripts/myWorkFlowInfo.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script>
    function PageLoad() {



    };
    $(document).ready(
        PageLoad());
    var options = {
        target: '#outputdiv',
        success: showResponse,
        error: function (data) {
            $("#outputdiv").html = data;
        }
    };

    function Confirm_ResultNo_Click() {

    }
    function Confirm_ResultYes_Click() {
    }

    function submit_click(i) {
        if (!confirm('确定要提交吗？'))
            return false;
        var IsCaiGou_Wzc = "@ViewBag.currentMiss.Miss_Params["IsCaiGou_Wzc"].ToString()";

        var IsCaiGou_Jxdw = "@ViewBag.currentMiss.Miss_Params["IsCaiGou_Jxdw"].ToString()";



        switch (i) {
            case 0: //现场工程师提交
                IsCaiGou_Wzc = "是";

                break;

            case 1:
                IsCaiGou_Jxdw = "是";

                break;

            case 2:
                IsCaiGou_Wzc = "否";

                break;
            case 3:
                IsCaiGou_Jxdw = "否";

                break;

            default:
                return;
        }
        //alert(ZzConfirm);
        //alert(PqConfirm);
       var flow_name = $("#wef_id").val();
       $.ajax({
                type: 'POST',
                url: '/A8dot2/CaiGouConfirm_submitsignal',
                data: {
                    json1: '{Flow_Name: "' + flow_name
                        + '", IsCaiGou_Wzc: "' + IsCaiGou_Wzc

                        + '", IsCaiGou_Jxdw: "' + IsCaiGou_Jxdw


                        + '"}'
                },
                success: function (data) {
                    location.href = data;
                },
                error: function () {
                    alert('error');
                }
            });
        }



    </script>
}