@{
    ViewBag.Title = "A6dot2TimerJobs";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Plugins/AdminLTE/plugins/datatables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Plugins/AdminLTE/plugins/datatables/extensions/Select/css/select.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Plugins/AdminLTE/plugins/datatables/extensions/Editor/css/editor.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Plugins/AdminLTE/plugins/datatables/extensions/RowReorder/css/rowReorder.bootstrap.min.css">
}

<section class="content" style="background-color: #ecf0f5;">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">润滑管理临时任务编辑</h3>
                </div>
                <div class="box-body">
                    @*<button class="btn btn-default" id="addrow" onclick="newRow()">新建</button>
                        <button class="btn btn-default disabled" id="deletrow" onclick="deleteRow()">删除</button>*@

                    <table id="A6dot2jobs_table" class="table table-hover table-bordered display">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>装置</th>
                                <th>机组名称</th>
                                <th>设备编号</th>
                                <th>上次化验月份</th>
                                <th>化验结果</th>
                                <th>整改方案制定</th>
                                <th>整改实施情况</th>
                                <th>二次化验结果</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--对话框-->
    <!--计划时间设置对话框-->
    <div id="ModfiyTimer" class="modal" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">计划执行时间设置</h4>
                </div>
                <div class="modal-body">
                    <p id="corn_value" style="display:none"></p>
                    <div class="row">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_minute" data-toggle="tab">分</a></li>
                                <li><a href="#tab_hour" data-toggle="tab">小时</a></li>
                                <li><a href="#tab_date" data-toggle="tab">天</a></li>
                                <li><a href="#tab_month" data-toggle="tab">月</a></li>
                                <li><a href="#tab_week" data-toggle="tab">周</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_minute">
                                    <form role="form">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="0" name="Minute_Select">每分钟
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="Minute_Select" value="1">特定时间
                                                <select id="Speciry_Minute" class="select2" multiple="multiple" data-placeholder="选择具体分钟" style="width: 100%;">
                                                    @for (int i = 0; i < 60; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab_hour">
                                    <form role="form">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="0" name="Hour_Select">每小时
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="Hour_Select" value="1">特定时间
                                                <select id="Speciry_Hour" class="select2" multiple="multiple" data-placeholder="选择具体小时" style="width: 100%;">
                                                    @for (int i = 0; i < 24; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab_date">
                                    <form role="form">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="0" name="Date_Select">每天
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="Date_Select" value="1">特定日期
                                                <select id="Speciry_Date" class="select2" multiple="multiple" data-placeholder="选择具体日期" style="width: 100%;">
                                                    @for (int i = 1; i < 32; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab_month">
                                    <form role="form">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="0" name="Month_Select">每月
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="Month_Select" value="1">特定日期
                                                <select id="Speciry_Month" class="select2" multiple="multiple" data-placeholder="选择具体月份" style="width: 100%;">
                                                    @for (int i = 1; i < 13; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </label>
                                        </div>
                                        <div class="radio" style="display:none">
                                            <label>
                                                <input type="radio" name="Month_Select" value="2">不指定
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab_week">
                                    <form role="form">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="0" name="Week_Select">每周
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="Week_Select" value="1">特定日期
                                                <select id="Speciry_Week" class="select2" multiple="multiple" data-placeholder="选择具体日期" style="width: 100%;">
                                                    <option value="0">星期天</option>
                                                    <option value="1">星期一</option>
                                                    <option value="2">星期二</option>
                                                    <option value="3">星期三</option>
                                                    <option value="4">星期四</option>
                                                    <option value="5">星期五</option>
                                                    <option value="6">星期六</option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="radio" style="display:none">
                                            <label>
                                                <input type="radio" name="Week_Select" value="2">不指定
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-sm-10 col-sm-offset-1">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary">计划时间</button>
                            </div>
                            <input id="corn_logic" type="text" class="form-control" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">放弃</button>
                    <button type="button" class="btn btn-primary" onclick="UploadTriggerTiming()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--关联工作流设置对话框-->
    @*<div id="WorkFlowSet" class="modal" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">关联工作流设置</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group col-sm-10 col-sm-offset-1">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary">工作流</button>
                                    </div>
                                    <select id="WFDef_Select" class="form-control">
                                        @foreach (var f in ViewBag.flows)
                                        {
                                            <option value="@f.wf_id">@f.wf_name:@f.wf_description</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <table id="params_table" class="table table-bordered table-hover col-sm-12">
                            <thead>
                                <tr>
                                    <th>变量名</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">放弃</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>*@
</section>

@section js {
    <!-- Page script -->
    <script type="text/javascript" src="~/Plugins/AdminLTE/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Plugins/AdminLTE/plugins/datatables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Plugins/AdminLTE/plugins/datatables/extensions/Select/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="~/Plugins/AdminLTE/plugins/datatables/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" src="~/Plugins/AdminLTE/plugins/datatables/extensions/Editor/js/editor.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Plugins/AdminLTE/plugins/datatables/extensions/RowReorder/js/dataTables.rowReorder.min.js"></script>
    <style>
        th, td {
            white-space: nowrap;
            text-align: left;
        }
    </style>

    <script type="text/javascript">
        var editor;
        var t;
        $(document).ready(function () {

            //在线编辑
            //Editor 初始化
            editor = new $.fn.dataTable.Editor({
                ajax: "/A5TimeJob/PostChanges1",
                table: "#A6dot2jobs_table",
                idSrc: "ID",//必须指定行中某列，一般是指向隐藏列id，否则，删除和在线编辑无法实现
                fields: [
                    {
                        label: "zz_name",
                        name: "zz_name"
                    },
                      {
                          label: "jz_name",
                          name: "jz_name"
                      },
                        {
                            label: "sb_code",
                            name: "sb_code"
                        },
                          {
                              label: "last_check_month",
                              name: "last_check_month"
                          },
                            {
                                label: "check_result",
                                name: "check_result"
                            },
                              {
                                  label: "zz_file",
                                  name: "zz_file"
                              },
                                {
                                    label: "zz_done",
                                    name: "zz_done"
                                },
                                  {
                                      label: "second_check_result",
                                      name: "second_check_result"
                                  }
                ]
            });


            //$('#A6dot2jobs_table').on('click', 'tbody td.ForEdit, tbody td:contains("空任务")', function (e) {


            //    editor.inline(this, { onBlur: 'submit' });
            //});
            $('#A6dot2jobs_table').on('click', 'tbody td:not(:first-child)', function (e) {
                editor.inline(this, { onBlur: 'submit' });
            });

            //$('#A6dot2jobs_table').on('click', 'tbody td:not(:first-child)', function (e) {
            ////  alert("123");
            //    editor.inline(this, {
            //        onBlur: 'submit'
            //    });
            //});

















            //   $.fn.dataTable.ext.errMode = 'none';//屏蔽表格初始化出现错误时的提醒框，默认值为“alert”。现改为“none”
            t = $('#A6dot2jobs_table').DataTable({
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "抱歉， 没有找到",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                    "sInfoEmpty": "没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "模糊查询:  ",
                    "sProcessing": "<img src='/images/loading.gif'>  努力加载数据中.",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    }
                },
                "iDisplayLength": 20,
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "info": true,
                "ajax": {
                    "url": "/A5TimeJob/A6dot2GetTimerJobs",
                    "type": "POST"
                },
                "columnDefs": [
                { "targets": 1, "visible": false },
                 // { "targets": [0, 2, 3, 4, 5, 6, 7, 8], "orderable": false }
                ],
                columns: [
                         {
                             data: null,
                             defaultContent: '',
                             className: 'select-checkbox',
                             orderable: false
                         },
                                 { data: "ID" },
                                 { data: "zz_name" },
                                 { data: "jz_name" },
                                 { data: "sb_code" },
                                 { data: "last_check_month" },
                                 { data: "check_result" },
                                 { data: "zz_file" },
                                 { data: "zz_done" },
                                 { data: "second_check_result" }
                ],


                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                "buttons": [
                    {
                        extend: "create",
                        text: "新建",
                        action: function (e, dt, node, config) {
                            editor
                            .create(false)
                            .submit();
                        }
                    },
                    {
                        extend: "remove",
                        text: "删除",

                        action: function (e, dt, node, config) {
                            var rows = dt.rows({ selected: true }).data().pluck('zz_name');
                            editor
                                .title('删除')
                                .buttons('确认删除')
                               .message('确定删除<ul><li>' + rows.join('</li><li>') + '</li></ul>')
                                .remove(dt.rows({ selected: true }).indexes());

                        }
                    }
            //            { extend: "create", editor: editor },
            //{ extend: "edit", editor: editor },
            //{ extend: "remove", editor: editor }
                ],
                "dom": 'Bfrtip',

            });
            //添加， 删除后重新排序， 确保新添加的记录在第一行，便于用户操作
            editor.on('postCreate postRemove', function () {
                t.column('1:visible').order('desc').draw();
            });
            //添加列序号
            //t.on('order.dt search.dt',
            //    function () {
            //    t.column(1, {
            //        search: 'applied',
            //        order: 'applied'
            //    }).nodes().each(function (cell, i) {
            //        cell.innerHTML = i + 1;
            //    });
            //}).draw();

            //选中行后，删除按钮可点击
            //t.on('click', 'tbody tr', function () {
            //    if ($(this).hasClass('selected')) {
            //        $(this).removeClass('selected');
            //        if (!$('#deletrow').hasClass('disabled')) {
            //            $('#deletrow').addClass('disabled');
            //        }

            //    }
            //    else {
            //        t.$('tr.selected').removeClass('selected');
            //        $(this).addClass('selected');
            //        if ($('#deletrow').hasClass('disabled')) {
            //            $('#deletrow').removeClass('disabled');
            //        }

            //    }
            //});




            ////删除选中行，前台删除
            //$('#deletrow').click(function () {
            //     t.row('.selected').remove().draw(false);
            //});
            //            var counter = 1;

            //   $('#addrow').on('click', function () {
            //                t.row.add([
            //                  '',
            //                  '' ,
            //                    '请选择装置',
            //                    '请选择机组',
            //                   '',
            //                   '',
            //                  '',
            //              '',
            //               '',
            //                '',
            //                ]).draw();

            //                counter++;
            //            });

            // Automatically add a first row of data
            //  $('#addrow').click();
        });



    </script>
}